.routines_routinescard {
  width: 300px;
  height: 160px;
  border-radius: 10px;
  position: relative;
  border: 1px solid transparent;
}

.routines_routinedropdown {
  position: absolute;
  right: 5%;
  top: 10%;
}

.routines_daily {
  background-color: #4cb9fc;
  color: white;
  border-radius: 10px;
}

.routines_weekly {
  background-color: #6d75e6;
  color: white;
  border-radius: 10px;
}

.routines_monthly {
  background-color: #4267b2;
  color: white;
  border-radius: 10px;
}
