.addtaskmodal {
  font-family: "Lexend", sans-serif;
}

.durationform {
  width: 20%;
}

.addTaskButton {
  background-color: rgba(0, 71, 255, 0.65);
  font-weight: 600;
}

.scheduleButton {
  background-color: rgba(0, 71, 255, 0.65);
  font-weight: 600;
  width: 200px;
}
.auto_timepicker_label {
  font-size: 15px;
}
