@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.schedule_mainbody {
  font-family: "Lexend", sans-serif;
}

@media only screen and (min-width: 992px) {
  .schedule_mainbody {
    padding-left: 300px !important;
  }
}

.schedule_container_large {
  background: #f5f5f5;
  box-shadow: 0px 1px 2px rgba(0, 14, 51, 0.25);
  border-radius: 10px;
  width: 58%;
  padding: 0;
  display: flex;
  margin-bottom: 0px;
  flex-direction: column;
}

.schedule_heading {
  width: 100%;
  height: 7%;
  position: relative;
}

.schedule_weekday {
  font-size: 34px;
  font-weight: 700;
}

.schedule_headingdate {
  color: #a0aec0;
  font-size: 18px;
}

.schedule_todaybadge {
  position: absolute;
  right: 12%;
  top: 25%;
  background: rgba(0, 71, 255, 0.65);
  border-radius: 12px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.schedule_dayselector {
  width: 100%;
  height: 100px;
  user-select: none;
}

.schedule_dayselector_day {
  height: 80px;
  border-radius: 8px;
  margin: 15px;
  width: 85px;
  color: black;
}

.schedule_dayselector_day:hover {
  background-color: #0048ff1a;
  cursor: pointer;
}

.schedule_dayselector_day_active {
  height: 80px;
  border-radius: 8px;
  margin: 15px;
  width: 85px;
  color: white;
  background-color: #0047ff;
}

.schedule_dayselector_day_active:hover {
  cursor: pointer;
}

.schedule_dayselector_day_dayletter {
  color: #bcc1cd;
  font-size: 18px;
  font-weight: 500;
}

.schedule_dayselector_day_daynumber {
  font-weight: 600;
  font-size: 24px;
}

.schedule_dayselector_day_dayletter_active {
  font-size: 18px;
  font-weight: 500;
}

.schedule_dayselector_day_daynumber_active {
  font-weight: 600;
  font-size: 24px;
}

.linebreak {
  background-color: rgba(128, 128, 128, 0.555);
  height: 1px;
  width: 90%;
  border: none;
  margin-top: 0;
}

.schedule_activeschedule_headings {
  color: #aaafb9;
}
.schedule_activeschedule_headings_addtask {
  color: white;
}
.schedule_activeschedule_headings_autoschedule {
  background: rgba(0, 71, 255, 0.65);
  border-radius: 20px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  border: none;
}

.schedule_activeschedule_nostart_box {
  height: 58px;
}
.schedule_activeschedule_nostart_line {
  height: 4px;
  width: 45px;
  background-color: rgb(56, 56, 56);
  border-radius: 15px;
}

.schedule_activeschedule_body {
  height: 100%;
  /* font-family: "Poppins", sans-serif; */
}

.schedule_activeschedule_body_divider {
  height: 106px;
  width: 6px;
  background-color: rgb(241, 241, 241);
}

.schedule_activeschedule_body_times_largetime {
  font-weight: 500;
  font-size: 18px;
}

.schedule_activeschedule_body_times_smalltime {
  font-weight: 500;
  font-size: 16px;
  color: #bcc1cd;
}

.schedule_activeschedule_body_times_margins {
  margin-left: 40px;
}

.schedule_activeschedule_body_taskcontent {
  width: 100%;
  height: 90px;
  background: rgba(179, 179, 179, 0.26);
  border-radius: 16px;
}

.schedule_activeschedule_body_taskcontent_active {
  width: 100%;
  height: 90px;
  background: #4dc591;
  color: white;
  border-radius: 16px;
}

.schedule_activeschedule_body_taskcontent_tasktext {
  font-weight: 600;
  font-size: 19px;
}

.schedule_activeschedule_body_taskcontent_tasktimetext {
  font-weight: 500;
  font-size: 13px;
}

.schedule_activeschedule_body_taskcontent_tasktimenodaily {
  font-weight: 500;
  font-size: 15px;
}

.schedule_activeschedule_body_taskcontent_dailybadge {
  background: rgba(0, 71, 255, 0.65);
  border-radius: 12px;
  color: white;
  font-weight: 600;
  font-size: 12px;
  width: 45px;
}
.schedule_activeschedule_body_taskcontent_edittask {
  color: rgb(0, 0, 0);
  position: absolute;
  right: 5%;
  top: 10%;
}
.schedule_activeschedule_body_taskcontent_edittask:hover {
  cursor: pointer;
}

.custom-control-input {
  width: 1.45rem;
  height: 1.45rem;
  margin-top: 5px;
}

.custom-control-label::before {
  border: 2px solid #575757;
  width: 1.55rem;
  height: 1.55rem;
  background-color: inherit;
}

.custom-control-label::after {
  width: 1.55rem;
  height: 1.55rem;
  background-color: inherit;
}

.custom-control-label:hover {
  cursor: pointer;
}

.testtt {
  position: absolute;
  top: 33%;
  left: 33%;
}

.schedule_todaydot {
  color: #0047ff;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.schedule_activeschedule_body_taskcontent_dragging {
  border: 2px solid transparent;
  border-radius: 16px;
}

.schedule_activeschedule_body_taskcontent_dragging:hover {
  border: 2px solid #0048ff80;
  border-radius: 16px;
}

.schedule_activeschedule_body_taskcontent_dragging:active {
  border: 2px solid #0048ff80;
  border-radius: 16px;
  background-color: rgba(151, 251, 151, 0.418);
}
