.sidebar {
  height: 100%;
  width: 300px;
  padding-top: 0px !important;
  background-color: #17325d;
}

.linebreak {
  color: white;
  background-color: grey;
  height: 1px;
  width: 100%;
  border: none;
  margin-top: 0;
}

.sidebar_navlist {
  list-style-type: none;
  padding-left: 0;
  margin-left: -16px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 16px;
  font-family: "Lexend";
  line-height: 20px;
  color: #d0d0d0;
}

.sidebar_navlink_icon {
  margin-left: 16px;
}

.sidebar_navlink {
  display: block;
  padding: 0.65rem 2rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
}

.sidebar_navlink:hover {
  background-color: #304c79;
  color: white;
}

.sidebar_navlink_textalign {
  vertical-align: middle;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:hover {
  text-decoration: inherit;
  color: inherit;
}

.sidebar_bottomrow {
  position: relative;
}

.sidebar_leftarrow {
  position: absolute;
  right: 5px;
}

.sidebar_navlink_active {
  background-color: #275092;
  color: white;
}
